img{
    height: 275px;
    width: 183px;
    cursor: pointer;
}
.Gap{
    margin: 5% auto;
}
button{
    display: inline-block;
    border: 10px solid grey;
    margin: 10px;
}
body {
  text-align: center;
  background-image: url("./images/Kimi\ no\ nawa.jpg");
  background-size: cover;
  background-position: center;
}
h1{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: oblique;
    font-size: 5rem;
}

h2{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: oblique;
    font-size: 5rem;
}